<html>
  <head>
    <title>
      {% block title_html %}{% endblock %}
    </title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <!--info on static tag: https://docs.djangoproject.com/en/4.1/intro/tutorial06/-->
  </head>
  <body>
    <h1>
      Tasks Manager - {% block h1 %}{% endblock %}
    </h1>
    <article>
      {% block article_content %}{% endblock %}
    </article>
    <article>
        <h2>Here is a link: <a href="{% url 'public_connection' %}">Connection</a></h2>
    </article>
  </body>
</html>